/*
This part is for the general webpage, excepting the Horizontal Navigation Bar
NOTE: part of the general body section from this CSS is based (with various modifications) 
from the "Reverted" template of Bryant Smith, available in the following link
Link: https://www.bryantsmith.com/template/
*/

/* General style for webpage */
html,
body {
  text-align: center;
  /* NOTE: I add this scroll-padding-top option so the link from the horizontal navigation
  bar is not covered by the navigation bar itself. I learned this in the post from the link.
  Link: https://dev.to/einlinuus/fixed-navigations-and-sections-here-is-scroll-padding-25nb
  */
  scroll-padding-top: 26px;
}
p {
  margin: 7px;
  text-align: left;
  text-align: justify;
}

body {
  margin: 0;
  padding: 0;
  background: #697281;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  font-size: 11.5px;
  color: #f1f5f8;
  background: #26476e;
}
* {
  margin: 0 auto 0 auto;
  text-align: left;
}

#page {
  margin: 0 auto 0 auto;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  width: 753px;
}

/* Style for webpage title */

#header {
  margin-top: -5px;
  padding-top: 43px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 43px;
  background-image: url(header.png);
  background-repeat: no-repeat;
  height: 100px;
  width: 753px;
  overflow: hidden;
}

#header h1,
#header h2 {
  margin-left: 0px;
  width: 693px;
  position: relative;
  color: #195979;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  clear: both;
}

#header h1 {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 673px;
  position: relative;
  color: #26476e;
  font-size: 30px;
}

/* Style for webpage sections */

.contentTitle {
  background-image: url(bar.png);
  background-repeat: no-repeat;
  height: 53px;
  width: 750px;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 25px;
}

.contentTitle h1 {
  line-height: 50px;
  margin-left: 21px;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #26476e;
}

/* General style for text */
.contentText {
  width: 680px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  color: #ffffff;
  line-height: 30px;
}

/* Set color for links in the page */
a {
  color: #ffffff;
}

/* Style for LinkedIn, GitHub and Mail logos */
.fa {
  font-size: 18px;
  text-decoration: none;
}

/* Style for container div related to map and bar graph */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Style specific for the map */
#map {
  padding-left: 35px;
}

/* Style specific for the graph */
#bar_chart {
  margin-left: -30px;
}

/* Style for tooltip of map and bar graph */
.tooltip {
  position: absolute;
  padding: 8px;
  background: white;
  border: 1px solid #333333;
  border-radius: 4px;
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333333;
}

/* Bottom style for end of the page at sources section*/
#sources {
  padding-bottom: 50px;
}

/* Style for text related to tips for map and bar graph*/
.tips {
  font-size: 11.5px;
  line-height: 1.7;
}

/* Style for text related to legend in the map*/
.legend {
  font-size: 10.5px;
}

/*
This part is for the Horizontal Navigation Bar
NOTE1: I saw the structure to do the navigation bar in this exercise from w3schools
Link1: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_dividers
NOTE2: I saw how to fix the Navigation Bar on the top in this exercise from w3schools
Link2: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_fixed
NOTE3: I saw how to make that the Navigation Bar to be in front of the rest of 
the content in the first answer of this forum (using the "z-index" property)
Link3: https://forum.freecodecamp.org/t/why-is-my-navbar-behind-other-content/62059
*/

/* General style for Navegaton Bar */
#navigationbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 9999;
}

#navigationbar li {
  float: left;
  border-right: 1px solid #bbb;
}

#navigationbar li:last-child {
  border-right: none;
}

#navigationbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8.5px;
  text-decoration: none;
}

#navigationbar li a:hover:not(.active) {
  background-color: #111;
}

#navigationbar .active {
  background-color: #081d58;
}

#navigationbar ul {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style for contact class, related to author and logos of contact in Navigation Bar */
#navigationbar .contact {
  float: right;
  border-right: none;
}

/* Style for LinkedIn, GitHub and Mail logos in the Navegaton Bar */
#navigationbar .contact .fa {
  font-size: 15.5px;
  text-decoration: none;
}
